.footer{
    background-color: black;
    color: gray;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-family: Sans-serif;
    font-size: 14px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:05px;
    font-size: 14px;
}
.icon{
    color: #337ab7;
    cursor: pointer;
}
.icon:hover{
    font-size: 16px;
}